button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: $tr;
}

.button {
  position: relative;
  font-family: $Arimo;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;
  padding: 18px 25px;
  outline: none;
  box-shadow: none;
  @include ease;
  min-width: 241px;
  display: inline-block;

  @include r(1200) {
    font-size: 15px;
    padding: 14px 15px;
    min-width: 200px;
  }

  &:hover {
    color: $dark;
    background-color: $white;
    border-color: $white;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  }

  &--tr {
    color: $white;
    background-color: $tr;
    border-color: $white;

    &-white {
      color: #fff;
      border-color: #fff;
    }
  }

}
